SEPOLIA_RPC_URL=
COMPANY_PRIVATE_KEY=
AUDITOR_PRIVATE_KEY=
LEDGER_RESERVE_PRIVATE_KEY=
ZK_RESERVE_PRIVATE_KEY=
KZG_RESERVE_PRIVATE_KEY=
MAX_EPOCH_AGE=2592000
MIN_EPOCH_INTERVAL=
PRIVATE_OUTPUT=
DEPLOYMENT_FILE=
